body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe4c4;
    color: #333;
    margin: 20px;
  }
.logo {

 width:170px;
 border-radius: 5%;
 position: relative;
 left: 1100px;
 top: 270px;
 
}
.dato {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    forced-color-adjust: animation, auto 10s linear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 170px;
    
}

#titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 170px;
    
}

.nombre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 170px;
}